{% load staticfiles %}
<!doctype html>
<html>

<head>
<link rel="stylesheet" href="layout.css">
</head>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="keywords" 
    aria-label="keywords"
    name = 'keywords'
    value = "">

    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="abstract" 
    aria-label="abstract"
    name = 'abstract'
    value = "">

    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="all_fields" 
    aria-label="all_fields"
    name = 'all_fields'
    value = "">

    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="year_from" 
    aria-label="year_from"
    name = 'year_from'
    value = "">

    <input 
    class="form-control mr-sm-2" 
    type="search" placeholder="year_to" 
    aria-label="year_to"
    name = 'year_to'
    value = "">

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

{% if results %}
      <div class="txtCentrado margenSup20 grisDC">
          <h4>We found {{ count }} result{{ count|pluralize }} for your search </h4>
          <h4>ID - Landing Page - Object Name</h4>
      </div>
            <div class="search_results">
                {% for result in results %}
                <div class = "property" style = "float:left">
                      {{ result.0 }}
                </div>
                <div class="propery">
                      <a href="{{ result.1 }}">Object landing page</a>
                </div>
                <div class="property" style="float:right">
                      {{ result.2 }}
                </div>
                <div>
                  <p></p>
                </div>
            </div> 
                {% endfor%}
            </div>
{%elif not search_term %}
    <h3>Insert your search here.</h3>
{%elif not results %}
    <p>No results found.</p>
{% endif %}
</html>